<div class="inner-wrap">
	<h2>People</h2>
		<table>
			<thead>
				{{#view "sort-header" sortField="lastName"}}Last Name{{/view}}
				{{#view "sort-header" sortField="firstName"}}First Name{{/view}}
				{{#view "sort-header" sortField="companyName"}}Company Name{{/view}}
				{{#view "sort-header" sortField="label"}}Label{{/view}}
				{{#view "sort-header" sortField="address"}}Address{{/view}}
				{{#view "sort-header" sortField="city"}}City{{/view}}
				{{#view "sort-header" sortField="state"}}State{{/view}}
				{{#view "sort-header" sortField="phone"}}Phone{{/view}}
				{{#view "sort-header" sortField="mobile"}}Mobile{{/view}}
				{{#view "sort-header" sortField="fax"}}Fax{{/view}}
				{{#view "sort-header" sortField="email"}}Email{{/view}}
				{{#view "sort-header" sortField="notes"}}Notes{{/view}}
			</thead>
			{{#each}}
			<tr>
				<td>{{#link-to 'person' this}}{{firstName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{lastName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{companyName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{label}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{address}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{city}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{state}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{phone}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{mobile}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{fax}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{email}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{notes}}{{/link-to}}</td>
			</tr>
			{{/each}}
		</table>
		{{outlet}}


