<div class="inner-wrap">
	<h2>People</h2>
		<table>
			<thead>
				<th><a href="#" {{action "sort" "firstName"}}>First Name</a></th>
				<th><a href="#" {{action "sort" "lastName"}}>Last Name</a></th>
				<th><a href="#" {{action "sort" "companyName"}}>Company Name</a></th>
				<th><a href="#" {{action "sort" "label"}}>Label</a></th>
				<th><a href="#" {{action "sort" "address"}}>Address</a></th>
				<th><a href="#" {{action "sort" "city"}}>City</a></th>
				<th><a href="#" {{action "sort" "state"}}>State</a></th>
				<th><a href="#" {{action "sort" "phone"}}>Phone</a></th>
				<th><a href="#" {{action "sort" "mobile"}}>Mobile</a></th>
				<th><a href="#" {{action "sort" "fax"}}>Fax</a></th>
				<th><a href="#" {{action "sort" "email"}}>Email</a></th>
				<th><a href="#" {{action "sort" "notes"}}>Notes</a></th>
			</thead>
			{{#each}}
			<tr>
				<td>{{#link-to 'person' this}}{{firstName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{lastName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{companyName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{label}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{address}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{city}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{state}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{phone}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{mobile}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{fax}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{email}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{notes}}{{/link-to}}</td>
			</tr>
			{{/each}}
		</table>
		{{outlet}}

