<div class="inner-wrap">
	<h2>People</h2>
	<div class="table-wrap">
		<table>

			<thead>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Company Name</th>
				<th>Label</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Phone</th>
				<th>Mobile</th>
				<th>Fax</th>
				<th>Email</th>
				<th>Notes</th>
			</thead>
			{{#each}}
			<tr>
				<td>{{#link-to 'person' this}}{{lastName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{firstName}}{{/link-to}}</td>
				<td>{{companyName}}</td>
				<td>{{label}}</td>
				<td>{{address}}</td>
				<td>{{city}}</td>
				<td>{{state}}</td>
				<td>{{phone}}</td>
				<td>{{mobile}}</td>
				<td>{{fax}}</td>
				<td>{{email}}</td>
				<td>{{notes}}</td>
			</tr>
			{{/each}}
		</table>
	</div>
</div>
{{outlet}}
