<div class="inner-wrap">
	<h2>People</h2>
	<div class="table-wrap">
		<table>

			<thead>
				{{#view "sort-header" sortField="lastName"}}Last Name{{/view}}
				{{#view "sort-header" sortField="firstName"}}First Name{{/view}}
				{{#view "sort-header" sortField="companyName"}}Company Name{{/view}}
				{{#view "sort-header" sortField="label"}}Label{{/view}}
				{{#view "sort-header" sortField="address"}}Address{{/view}}
				{{#view "sort-header" sortField="city"}}City{{/view}}
				{{#view "sort-header" sortField="state"}}State{{/view}}
				{{#view "sort-header" sortField="phone"}}Phone{{/view}}
				{{#view "sort-header" sortField="mobile"}}Mobile{{/view}}
				{{#view "sort-header" sortField="fax"}}Fax{{/view}}
				{{#view "sort-header" sortField="email"}}Email{{/view}}
				{{#view "sort-header" sortField="notes"}}Notes{{/view}}
			</thead>
			{{#each}}
			<tr>
				<td>{{#link-to 'person' this}}{{lastName}}{{/link-to}}</td>
				<td>{{#link-to 'person' this}}{{firstName}}{{/link-to}}</td>
				<td>{{companyName}}</td>
				<td>{{label}}</td>
				<td>{{address}}</td>
				<td>{{city}}</td>
				<td>{{state}}</td>
				<td>{{phone}}</td>
				<td>{{mobile}}</td>
				<td>{{fax}}</td>
				<td>{{email}}</td>
				<td>{{notes}}</td>
			</tr>
			{{/each}}
		</table>
	</div>
</div>
{{outlet}}
