<div class="right-wrap slidein" id="slidePanel">
	<nav class="navbar navbar-panel">
		<div class="nav navbar-nav">
			<h2>Person</h2>
		</div>
		<div class="nav navbar-right">{{#link-to "people" }}<img class="close" src="/assets/x_icon.png"  />{{/link-to}}</div>
	</nav>
	{{#if isEditable}}
	{{partial "person/form"}}
	<button {{action "cancel"}} class="btn btn-default">Cancel</button>
	<button {{action "done"}} class="btn btn-default">Done</button>
	{{else}}
	<table class="person-table">
		<tr>
			<th class="labels">First Name</th>
			<td>{{firstName}}</td>
		</tr>
		<tr>
			<th class="labels">Last Name</th>
			<td>{{lastName}}</td>
		</tr>
		<tr>
			<th class="labels">Company Name</th>
			<td>{{companyName}}</td>
		</tr>
		<tr>
			<th class="labels">Label</th>
			<td>{{label}}</td>
		</tr>
		<tr>
			<th class="labels">Address</th>
			<td>{{address}}</td>
		</tr>
		<tr>
			<th class="labels">City</th>
			<td>{{city}}</td>
		</tr>
		<tr>
			<th class="labels">State</th>
			<td>{{state}}</td>
		</tr>
		<tr>
			<th class="labels">Phone</th>
			<td>{{phone}}</td>
		</tr>
		<tr>
			<th class="labels">Mobile</th>
			<td>{{mobile}}</td>
		</tr>
		<tr>
			<th class="labels">Fax</th>
			<td>{{fax}}</td>
		</tr>
		<tr>
			<th class="labels">Email</th>
			<td>{{email}}</td>
		</tr>
		<tr>
			<th class="labels">Notes</th>
			<td>{{notes}}</td>
		</tr>
	</table>
	<button {{action "edit"}} class="btn btn-default">Edit</button>
	{{/if}}
</div>
